<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">



 <servlet>
    <servlet-name>weichat</servlet-name>
    <servlet-class>com.fstudio.servlet.ServletWeiChat</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>weichat</servlet-name>
    <url-pattern>/wc</url-pattern>
</servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
	<servlet>
		<servlet-name>servlet_clean</servlet-name>
		<servlet-class>com.fstudio.servlet.CleanServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>servlet_clean</servlet-name>
		<url-pattern>/clean</url-pattern>
	</servlet-mapping>
</web-app>
